<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="main__container">
            <div class="top__container">
                <p class="yourname"></p>
                <button onclick="changeName()" class="changename__btn">Change Name</button>
            </div>
            <ul>
            </ul>
            <div class="bottom__container">
                <input type="text" class="message">
                <button onclick="sendMsg()" class="send__button">&#8594;</button>
            </div>
        </div>
    </div>

    <script src="scripts/client.js">
    </script>
</body>
</html>